body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #f0f0f0; /* Light grey background for contrast */
  color: #000; /* Black text for contrast */
  margin: 0;
  padding: 0 20px; /* Added padding to the sides of the page */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: #222; /* Darkened header color for better readability */
  text-decoration: underline; /* to make the heading noticed and stand out that it's a heading */
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #222; /* Dark background for navigation */
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: #fff; /* White text on dark background for contrast */
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.main-nav ul li a:hover {
  background-color: blue; /* Bright blue on hover for visibility */
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  background-color: #fff; /* White background for form fields */
  border: 1px solid #ccc; /* Light border for form elements */
  box-sizing: border-box;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background-color: #333; /* Dark button background */
  color: #fff; /* White text for contrast */
  border: 2px solid #333;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

form input:focus, form textarea:focus {
  outline: 2px solid #000;
}

/* Add spacing to the form section */
.contact-section {
  margin-bottom: 4rem;
   /* Added margin to create space between the form and footer */
}

/* Skip Link */
.skip-link {
  position: absolute;
  top: 1px;
  right: 10px; /* This is to put the skip link to the left */
  background-color: #333; /* Dark background for good contrast */
  color: #fff; /* White text for contrast */
  padding: 8px;
  text-decoration: none;
  transition: top 0.3s ease;
}

.skip-link:focus {
  top: 10px;
}

.site-footer {
  padding: 2rem 0;
  background-color: #333; /* Dark footer background */
  color: #fff; /* White text for contrast */
  text-align: center;
}